.details{
  min-width: 800px;
  min-height: 300px;
  border: 1px solid #dadce0;
  border-radius: 10px;
  padding: 20px 40px;
  background: #efebf9;
  box-sizing: border-box;

  .title{
    color: rgb(51, 50, 50);
    font-size: 35px;
    margin-bottom: 20px;
  }

  &__item{
    font-size: 18px;
    line-height: 30px;
    border-bottom: none;
    color: #333232;
  }

  .arrays{
    cursor: pointer;
    margin-left: 20px;
    border-bottom: 3px solid #dadce0;
    color: blue;
    

    &:hover{
      text-decoration: underline;
    }
  }
}